.light {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: blue;
}

.red {
background-color: red;
}

.yellow {
background-color: yellow;
}

.green{
background-color: green;
}
.stick {
    width:15px;
    height: 80px;
    background-color: black;
}
.traffic-light {
    background-color: black;
    display: inline-block;
    margin: auto;
    padding: 10px;
}

.glow {
    box-shadow: 0px 0px 9px 4px white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}